<div class="gender">
  <h2>Selectionnez ce qui vous correspond le mieux:</h2>
  <div class="genderCards">
    <ion-radio-group [(ngModel)]="gender">
      <ion-item>
        <ion-label>Homme</ion-label>
        <ion-radio slot="start" (click)="getGender('homme')" value="homme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Femme</ion-label>
        <ion-radio slot="start" (click)="getGender('femme')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Enfant</ion-label>
        <ion-radio slot="start" (click)="getGender('enfant')" value="enfant"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
  <div *ngIf="gender !== ''" class="name">
    <ion-input [(ngModel)]="name" placeholder="Nom"></ion-input>
    <ion-input [(ngModel)]="firstname" placeholder="Prenom"></ion-input>
  </div>
  <div *ngIf="name !== '' && firstname !== ''" class="besoin">
    <div *ngIf="gender=='femme'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Shampoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Broching</ion-label>
        <ion-radio slot="start" (click)="getBesoin('broching')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Soin</ion-label>
        <ion-radio slot="start" (click)="getBesoin('soin')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Couleur classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('couleur classique')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mèches</ion-label>
        <ion-radio slot="start" (click)="getBesoin('meches')" value="femme"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Lissage</ion-label>
        <ion-radio slot="start" (click)="getBesoin('lissage')" value="enfant"></ion-radio>
      </ion-item>
    </div>
    <div *ngIf="gender=='homme'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Champoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Couleur</ion-label>
        <ion-radio slot="start" (click)="getBesoin('couleur')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Barbe</ion-label>
        <ion-radio slot="start" (click)="getBesoin('barbe')" value="enfant"></ion-radio>
      </ion-item>

    </div>
    <div *ngIf="gender=='enfant'">
      <h3>Selectionnez votre besoin:</h3>
      <ion-item>
        <ion-label>Champoing</ion-label>
        <ion-radio slot="start" (click)="getBesoin('champoing')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Coupe classique</ion-label>
        <ion-radio slot="start" (click)="getBesoin('coupe classique')" value="enfant"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Chignon</ion-label>
        <ion-radio slot="start" (click)="getBesoin('chignon')" value="enfant"></ion-radio>
      </ion-item>
    </div>
  </div>
  <div *ngIf="besoins.length > 0" class="rdv">

    <ion-radio-group [(ngModel)]="rdv">

      <ion-list-header>
        <h3>Rendez-vous</h3>
      </ion-list-header>

      <ion-item>
        <ion-label>Aujourd'hui</ion-label>
        <ion-radio slot="start" (click)="getRdv('auj')" value="auj"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Autre jour</ion-label>
        <ion-radio slot="start" value="autre"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </div>

  <div *ngIf="rdv == 'auj'" class="rdv">


    <ion-item>
      <ion-label>Heure</ion-label>
      <ion-datetime displayFormat="HH mm" placeholder="Heure" slot="end" cancel-text="Annuler" done-text="Valider"
        [(ngModel)]="hours" class="end-hour font-avenir"
        hourValues="9,10,11,13,14,15,16,17,18,19,20" minuteValues="0,30" style="font-size: 16px;">
      </ion-datetime>
    </ion-item>
  </div>

  <div *ngIf="rdv == 'autre'">
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMM DD" placeholder="Jour" slot="end" cancel-text="Annuler" done-text="Valider"
                [(ngModel)]="days" class="end-hour font-avenir" style="font-size: 16px;">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Heure</ion-label>
            <ion-datetime displayFormat="HH mm" placeholder="Heure" slot="end" cancel-text="Annuler" done-text="Valider"
                [(ngModel)]="hours" class="end-hour font-avenir" hourValues="9,10,11,13,14,15,16,17,18,19,20"
        minuteValues="0,30" style="font-size: 16px;">
            </ion-datetime>
        </ion-item>

      </div>
    <ion-button *ngIf="hours !== ''" (click)="reservation()" expand="full" color="warning">VALIDER</ion-button>
</div>