<ion-header>
  <ion-toolbar>
    <ion-title>
        La raie-création
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-home></app-home> 
  <app-gender></app-gender>
</ion-content>

